<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}GameProject{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">GameProject</a>
        </div>
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_USER') %}
                    {{ render(controller('GameBundle:Admins/Navbar:index')) }}
            {% endif %}

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_page') }}">Admins page</a></li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('player_profile') }}">My Profile</a></li>
                <li><a href="{{ path('security_logout') }}">Logout</a></li>
            {% else %}

                <li><a href="{{ path('security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
                </li>
                <li><a href="{{ path('player_register_form') }}"><span class="glyphicon glyphicon-user"></span> Register</a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>

<div class="container body-container">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% block body %}
        <div class="row">
            <div id="main" class="col-md-9">
                {% block main %}{% endblock %}
            </div>
        </div>

    {% endblock %}
</div>

<div class="container modal-footer">
    <p>&copy; 2017 - Game Project</p>
</div>


</body>
</html>
