{# @var player \GameBundle\Entity\Player #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h1>Time for upgrade <span class="timeleft"
                                       {% if timeleft is not null %}id="active"{% endif %}>{{ time|date('H:i:s') }}</span>
            </h1>
            <h3>Your apartment is level {{ player.building('apartment').level }} and you have {{ player.building('apartment').resource }}
                leva!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>You get {{ income }} leva per 2 minutes on this page! </h2>
            <form method="post">
                <input type="hidden" name="income" id="income">
                <button type="submit" class="btn btn-success">Get paid.</button>
            </form>
            <br>
        </div>
        <div class="col-md-6">

            {% if  player.building('apartment').resource >= price %}

                {% if timeleft is null %}
                    <h2>Upgrade apartment for {{ price }} leva.</h2>
                    <form method="post">
                        <input type="hidden" value="{{ player.building('apartment').id }}" name="upgrade" id="upgrade">
                        <button type="submit" class="btn btn-primary" id="upgrade">Upgrade!</button>
                    </form>
                    {% else %}
                    <h3>Upgrade in process!</h3>
                {% endif %}

            {% else %}
                <h2>You don't have enough money for upgrade!</h2>
                <h2>Upgrading costs: {{ price }} leva.</h2>
            {% endif %}
        </div>
    </div>


    <script type="text/javascript">
        function TimeToSeconds(time) {
            time = time.split(/:/);
            return time[0] * 3600 + time[1] * 60 + time[2] * 1;
        }

        function SecondsToTime(time) {
            var seconds = Math.floor(time),
                hours = Math.floor(seconds / 3600);
            seconds -= hours * 3600;
            var minutes = Math.floor(seconds / 60);
            seconds -= minutes * 60;

            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            return hours + ':' + minutes + ':' + seconds;
        }

        jQuery(document).ready(function () {
            var n;

            function CountDown() {
                var timer = $('#active');
                var timeleft = TimeToSeconds(timer.text());
                if (!isNaN(timeleft)) {
                    timeleft = parseInt(timeleft);
                    if (timeleft > 0) {
                        timeleft = timeleft - 1;
                        timer.text(SecondsToTime(timeleft));
                    } else {
                        window.location = window.location;
                        clearTimeout(n)
                    }
                    n = setTimeout(function () {
                        CountDown()
                    }, 1000);

                }
            }

            CountDown();
        })

    </script>

{% endblock %}


