{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-9">
            <h1>Time for upgrade <span class="timeleft"
                                       {% if timeleft is not null %}id="active"{% endif %}>{{ time|date('H:i:s') }}</span>
            </h1>
            <h3>Your discotech is level {{ player.building('discotech').level }} and you
                have {{ player.building('apartment').resource }}
                leva.</h3>
            <h3>You also have {% if player.building('discotech').resource == 1 %}
                    {{ player.building('discotech').resource }} mutra.
                {% else %}
                    {{ player.building('discotech').resource }} mutri.
                {% endif %}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% if player.building('apartment').resource >= mutraCost %}
                <h2>Buy mutri:</h2>
                <h3>1 mutra costs {{ mutraCost }} leva.</h3>
                <form method="post">
                    <input type="number" name="buy_mutri" id="buy_mutri">
                    <button type="submit" class="btn btn-success">Buy</button>
                </form><br>

            {% else %}
                <h2>You don't have enough money to buy mutri!</h2>
                <h2>One mutra costs: {{ mutraCost }} leva. </h2>
            {% endif %}
        </div>
        <div class="col-lg-6">
            {% if timeleft %}
                <h2>Upgrade in progress!</h2>
            {% else %}
                {% if  player.building('apartment').resource >= price %}

                    {% if not timeleft %}
                        <h2>You can upgrade your discotech for {{ price }} leva.</h2>

                        <form method="post">
                            <input type="hidden" value="{{ player.building('discotech').id }}" name="upgrade"
                                   id="upgrade">
                            <button type="submit" class="btn btn-primary">Upgrade!</button>
                        </form><br>
                    {% endif %}

                {% else %}
                    <h2>You don't have enough money for upgrade!</h2>
                    <h2>Upgrading costs: {{ price }} leva.</h2>
                {% endif %}
            {% endif %}
        </div>


        <script type="text/javascript">
            function TimeToSeconds(time) {
                time = time.split(/:/);
                return time[0] * 3600 + time[1] * 60 + time[2] * 1;
            }

            function SecondsToTime(time) {
                var seconds = Math.floor(time),
                    hours = Math.floor(seconds / 3600);
                seconds -= hours * 3600;
                var minutes = Math.floor(seconds / 60);
                seconds -= minutes * 60;

                if (hours < 10) {
                    hours = "0" + hours;
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                if (seconds < 10) {
                    seconds = "0" + seconds;
                }
                return hours + ':' + minutes + ':' + seconds;
            }

            jQuery(document).ready(function () {
                var n;

                function CountDown() {
                    var timer = $('#active');
                    var timeleft = TimeToSeconds(timer.text());
                    if (!isNaN(timeleft)) {
                        timeleft = parseInt(timeleft);
                        if (timeleft > 0) {

                            timeleft = timeleft - 1;
                            timer.text(SecondsToTime(timeleft));
                        } else {
                            window.location = window.location;
                            clearTimeout(n)
                        }
                        n = setTimeout(function () {
                            CountDown()
                        }, 1000);

                    }
                }

                CountDown();
            })

        </script>
    </div>

{% endblock %}

